<div class="main movie-show">
  <div class="container">
    <div class="movie">
        <div class="info">
        <h3 class="movie-title"> <%= @event.title %> </h3>
        <p class="movie-release-year"> <%= @event.description %> </p>
        <p class="movie-plot"> <%= @event.date %> </p>
        <p> Event creator: <%= @user.username %> </p>
      </div>
    </div>
  </div>
  <h2>Attendees</h2>
  <% @names.each do |attendee| %>
      <div class="event">
          <h3 class="event-title"> <%= attendee %> </h3>
      </div>
  <% end %>
</div>