<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <br>
  <br>
  <br>
  <nav>
    <% if !logged_in? %>
      <%= link_to 'New User', "/users/new" %>
    <% else %>
      <h1> <%= session[:username] %> </h1>
      <%= link_to 'Create event', "/events/new" %>
      <%= link_to 'Logout', users_logout_path, method: :delete %>
    <% end %>
  </nav>
  <body>
    <%= yield %>
  </body>
</html>
